.game {
    display:flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color:black; 
    position: absolute; 
    width: 100%;  
    margin-top: 20px; 
}