.game {
    display:flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color:black; 
    position: absolute; 
    width: 100%;  
    height: 90%; 
    margin-top: 20px; 
}

.startButton {
    background-color: rgb(233, 100, 0);
    border: 1px transparent;
    border-radius: 8px ; 
    color: white; 
    padding: 30px; 
}